 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                        <img class="img-responsive img-rounded" src="img/0526.jpg" alt="Evan Sheffield">

                    <!-- <p>I'm a software engineer, web developer, and self-proclaimed Pokemon Master living in the Boston area.</p> -->
                </div>
                <div class="col-lg-8">
                    <p>I'm a software engineer, web developer, and game developer
                    living in the Boston area. I earned my M.S. in Computer Science from Northeastern University in 2018 and my B.A. in Computer Science and
                    Japanese from Vassar College in 2012. I am also JLPT N2 certified.
                    I work at <a href="http://ivantagehealth.com">iVantage Health Analytics</a> as a Manager of Engineering. I love tech, drawing, video game design, and Japanese language and culture.</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:evan.c.sheffield@gmail.com">evan.c.sheffield@gmail.com</a></p>
                    <p><i class="fa fa-github"></i> <a href="https://github.com/evsheffield">Github</a></p>
                    <p><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/evan-sheffield-7a495a27">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </section>
