 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                        <img class="img-responsive img-rounded" src="img/evan_icon.png" alt="">

                    <!-- <p>I'm a software engineer, web developer, and self-proclaimed Pokemon Master living in the Boston area.</p> -->
                </div>
                <div class="col-lg-4">
                    <p>I'm a software engineer, web developer, and self-proclaimed Pokémon Master living in the Boston area.
                    I work full-time at <a href="http://ivantagehealth.com">iVantage Health Analytics</a> and am pursing a M.S. in Computer
                    Science at Northeastern University with a focus on Artificial Intelligence. I also do some Japanese translation on the side. I love
                    tech, drawing, video game design, and Japanese language and culture.</p>
                </div>
            </div>
        </div>
    </section>